{# templates/admin/widgets/cloudinary_file_widget.html #}
<div class="cloudinary-file-widget">
    <div class="current-file">
        {% if widget.value %}
            <img src="{{ widget.value.url }}" alt="Current file" class="preview-image">
            <p>Current: {{ widget.value }}</p>
        {% endif %}
    </div>
    
    <div class="upload-options">
        {# Properly render the file input with attributes #}
        <input type="file" 
               name="{{ widget.name }}"
               {% if widget.attrs.class %}class="{{ widget.attrs.class }}"{% endif %}
               {% if widget.attrs.id %}id="{{ widget.attrs.id }}"{% endif %}
               {% if widget.attrs.required %}required{% endif %}
               {% if widget.attrs.disabled %}disabled{% endif %}
               {% if widget.attrs.accept %}accept="{{ widget.attrs.accept }}"{% endif %}>
        
        <div class="cloudinary-upload">
            <button type="button" class="cloudinary-button">Choose from Cloudinary</button>
        </div>
    </div>
</div>